triggers:
  - name: default
    description: Just default trigger
    isActive: true
    sensitives:
      - properties:
          type: daintegrate/sensitive/always
    handlers:
      - properties:
          type: daintegrate/handler/message
          value:
            message: Hello! It's day time! No reload
      - properties:
          type: daintegrate/handler/command
          value:
            command: /time set day
        delay: 20
  - name: not always
    description: Just not always trigger
    isActive: true
    sensitives:
      - properties:
          type: daintegrate/sensitive/range
          value:
            from: 0
            to: 100
            currency: USD
    handlers:
      - properties:
          type: daintegrate/handler/message
          value:
            message: Donate 0-100 amount
